<!DOCTYPE html>
<html>

	<head>
		<title>
			Slack page
		</title>
		<meta charset='utf-8' />

		<link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
		<link rel="manifest" href="/fav/site.webmanifest">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<meta name="viewport" content="width=device-width, intial-scale=1">

		<link href='css/normalize.css' rel='stylesheet' />

		<link href='css/slack.css' rel='stylesheet' />
	</head>

	<body>

		{{!  ↓  ця кострукція показує куди шаблонізатору треба вставляти код з container файлу   --}}
		<div class="page">
			<div class="page_section">
			<section class="page_content hero_section">
				<div class="hero">
					<div class="hero_content">
				<span class="hero_label">Slack Features</span>
				<h1 class="hero_title">One platform for your team and your work</h1>
				<p class="hero_info double_line">All the features of Slack work together so you can, too.</p>
				<div class="hero_buttons">
					<a href="#" class="button button_primary click">Try for free</a>
					<a href="#" class="button button_secondary click">See all features</a>
				</div>

			<img src="/img/hero.png" alt="Hero" class="hero_image">
			
				</div>
			</div>

			<div class="brands">
				<img src="/img/brands/airbnb.png" alt="airbnb" class="brands_image">
				<img src="/img/brands/intuit.png" alt="intuit" class="brands_image">
				<img src="/img/brands/newscorp.png" alt="newscorp" class="brands_image">
				<img src="/img/brands/onemedical.png" alt="onemedical" class="brands_image">
				<img src="/img/brands/target.png" alt="target" class="brands_image">
				<img src="/img/brands/uber.png" alt="uber" class="brands_image">
				<img src="/img/brands/va.png" alt="va" class="brands_image">
			</div>
			</div>
			</section>

			<section class="page_section page-section-light">
			<div class="page_content features_section">
				<h2 class="features_title">Work more easily with everyone</h2>
				<p class="featured_description double_line">Stay on the same page and make decisions faster by bringing all of your
				work communication into one place.</p>

				<div class="features_grid_4">
				<div class="feat_card">
					<span class="icon feat_icon" style="background-image: url('/svg/channels.svg')"></span>
					<strong class="feat_card_title">Slack Connect</strong>
					<p class="feat_card_description double_line">Collaborate with teams at other companies the same way you do with teams at your own.</p>
					<a href="#" class="icon icon_arrow click feat_link"></a>
				</div>

				<div class="feat_card">
					<span class="icon feat_icon" style="background-image: url('/svg/feature/connect.svg')"></span>
					<strong class="feat_card_title">Channels</strong>
					<a href="#" class="icon icon_arrow click feat_link"></a>
				</div>

				<div class="feat_card">
					<span class="icon feat_icon" style="background-image: url('/svg/huddles.svg')"></span>
					<strong class="feat_card_title">Huddles</strong>
					<a href="#" class="icon icon_arrow click feat_link"></a>
				</div>

				<div class="feat_card">
					<span class="icon feat_icon" style="background-image: url('/svg/clips.svg')"></span>
					<strong class="feat_card_title">Clips</strong>
					<a href="#" class="icon icon_arrow click feat_link"></a>
				</div>

				<div class="feat_card">
					<span class="icon feat_icon" style="background-image: url('/svg/canvas.svg')"></span>
					<strong class="feat_card_title">Canvas</strong>
					<a href="#" class="icon icon_arrow click feat_link"></a>
				</div>

				<div class="feat_card">
					<span class="icon feat_icon" style="background-image: url('/svg/messaging.svg')"></span>
					<strong class="feat_card_title">Messaging</strong>
					<a href="#" class="icon icon_arrow click feat_link"></a>
				</div>

				<div class="feat_card">
					<span class="icon feat_icon" style="background-image: url('/svg/accessibility.svg')"></span>
					<strong class="feat_card_title">Accessibility</strong>
					<a href="#" class="icon icon_arrow click feat_link"></a>
				</div>
			</div>
			
			<div class="page_content features_2_section">
				<h2 class="features_2_title">What you need, when you need it</h2>
				<p class="featured_2_description double_line">Spend less time shuffling tabs with a comprehensive message archive and all your work tools at your fingertips.</p>
			
			<div class="features_grid_5">
				<div class="feat_2_card">
					<span class="icon feat_2_icon" style="background-image: url('/svg/sharing.svg')"></span>
					<strong class="feat_2_card_title">File sharing</strong>
					<p class="feat_2_card_description double_line">Collaborate with teams at other companies the same way you do with teams at your own.</p>
					<a href="#" class="icon icon_2_arrow click feat_2_link"></a>
				</div>

				<div class="feat_2_card">
					<span class="icon feat_2_icon" style="background-image: url('/svg/aps.svg')"></span>
					<strong class="feat_2_card_title">Apps and Integrations</strong>
					<p>Streamline work by connecting Slack with other services like Google Drive, Office 365 and over 2,200 more.</p>
					<a href="#" class="icon icon_2_arrow click feat_2_link"></a>
				</div>

				<div class="feat_2_card">
					<span class="icon feat_2_icon" style="background-image: url('/svg/seach.svg')"></span>
					<strong class="feat_2_card_title">Workflow Builder</strong>
					<p>Automate routine actions and communication, so you can get back to the kind of work only humans can do.</p>
					<a href="#" class="icon icon_2_arrow click feat_2_link"></a>
				</div>

				<div class="feat_2_card">
					<span class="icon feat_2_icon" style="background-image: url('/svg/file.svg')"></span>
					<strong class="feat_2_card_title">Search</strong>
					<a href="#" class="icon icon_2_arrow click feat_2_link"></a>
				</div>
			</div>
			</section>

			

			<section class="testimonial">
				<div class="customer">
					<p class="quote img_delivery">
						“The thing that keeps us connected
						the most is Slack. It’s a very
						immediate and straightforward
						method of communication, and
						really the only channel that people
						prefer and enjoy using.”
					</p>
					<img src="/img/brands/deliveroo.png" alt="deliveroo" class="delivero_brand">
					<div class="brands_delivery">Will Sprunt, CIO, Deliveroo</div>
					
					<section class="footer">
						<div class="information">
							<div class="explore">
								Explore more about working in Slack
							</div>
							<div class="explore_img">
								<div class="box_explore">
									<img src="/svg/slack-101.png">
									<div class="name">Slack Tutorials</div>
									<h1 class="main_name">Slack 101</h1>
									<div class="more_inf">
										<div>
											Learn more
											<a class="icon icon_3_arrow click feat_3_link" href="#"></a>
										</div>
									</div>
								</div>

								<div class="box_explore">
									<img src="/svg/promo.png">
									<div class="name">Slack vs. Email</div>
									<h1 class="main_name">An easier, more organized way to work</h1>
									<div class="more_inf">
										<div>
											Learn more
											<a class="icon icon_3_arrow click feat_3_link" href="#"></a>
										</div>
									</div>
								</div>

								<div class="box_explore">
									<img src="/svg/customers.png">
									<div class="name">Customer Stories</div>
									<h1 class="main_name">How Fastly uses Slack Connect to wow enterprise customers</h1>
									<div class="more_inf">
										<div>
											Learn more
											<a class="icon icon_3_arrow click feat_3_link" href="#"></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</section>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
	</body>

</html>